<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/mdb.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="panel-group" style="margin-top: 40px">
			<nav
				class="navbar navbar-dark primary-color fixed-top navbar-expand-md">
				<a th:if="${isAdmin}" class="navbar-brand" href="/admin/home">iFreeDays
					- Vacations Admin</a> <a th:unless="${isAdmin}" class="navbar-brand"
					href="/user/home">iFreeDays - Vacations Manager</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#basicExampleNav" aria-controls="basicExampleNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="basicExampleNav">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item" th:if="${isAdmin}"><a class="nav-link"
							href="/admin/home">Home</a></li>
						<li class="nav-item" th:unless="${isAdmin}"><a
							class="nav-link" href="/user/home">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/skills">List
								of skills</a></li>
						<li class="nav-item" th:if="${isAdmin}"><a class="nav-link"
							href="/admin/employees">List of employees</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/calendars/skills">Skills calendar view</a></li>
						<li class="nav-item" th:if="${isAdmin}"><a class="nav-link"
							href="/calendars/employees">Employees calendar view</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/user/requestVacation">Request vacation</a></li>
						<li class="nav-item"><a class="nav-link"
							href="/user/myVacations">My vacations</a></li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
					</ul>
				</div>
			</nav>





			<div class="card" style="margin-top: 10%">

				    
				<!-- Card body -->
				    
				<div class="card-body">

					<form th:action="@{/admin/submitEditUser}" th:object="${user}"
						method="post">
						<div class="md-form">
							<i class="fa fa-user prefix grey-text"></i> <input type="text"
								id="materialFormSubscriptionNameEx" th:field="*{name}"
								class="form-control"> <label
								for="materialFormSubscriptionNameEx">Name:</label>
						</div>
						<br />
						<div class="md-form">
							<i class="fa fa-user prefix grey-text"></i> <input type="text"
								id="last" class="form-control" th:field="*{lastName}"> <label
								for="last">Last name:</label>
						</div>
						<br />
						<div class="md-form">
							<i class="fa fa-user prefix grey-text"></i> <input type="text"
								id="email" class="form-control" th:field="*{email}"> <label
								for="email">Email:</label>
						</div>


						<div class="md-form" style="margin-left: 2.5rem">
							<label class="form-check-label" for="checkbox101">Active</label><br />
							<br /> <input style="float: left" type="checkbox"
								th:field="*{active}" class="" id="checkbox101"
								th:value="${user.getActive()}">
						</div>


						<br />
						<div class="md-form">
							<i class="fa fa-user prefix grey-text"></i> <input
								type="password" id="pass" class="form-control"
								th:field="*{password}" value=""> <label for="pass">Password:</label>
						</div>
						<div class="text-center mt-4">
							<button class="btn btn-outline-info" type="submit">
								Send<i class="fa fa-paper-plane-o ml-2"></i>
							</button>

							<button class="btn btn-outline-info" type="reset">
								Reset<i class="fa fa-paper-plane-o ml-2"></i>
							</button>
						</div>
					</form>
					 
				</div>


			</div>

		</div>
	</div>


	<script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/mdb.min.js"></script>
</body>
</html>