<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Skills Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    
    
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body>
<style>.table>tbody>tr.active>td,.table>tbody>tr.active>th,.table>tbody>tr>td.active,.table>tbody>tr>th.active,.table>tfoot>tr.active>td,.table>tfoot>tr.active>th,.table>tfoot>tr>td.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>thead>tr.active>th,.table>thead>tr>td.active,.table>thead>tr>th.active {
    background-color: #f5f5f5
}

.table-hover>tbody>tr.active:hover>td,.table-hover>tbody>tr.active:hover>th,.table-hover>tbody>tr:hover>.active,.table-hover>tbody>tr>td.active:hover,.table-hover>tbody>tr>th.active:hover {
    background-color: #e8e8e8
}
</style>
	<div class="container">
		<div class="panel-group" style="margin-top: 80px">

<nav class="navbar navbar-dark primary-color fixed-top navbar-expand-md">
    			<a th:if="${isAdmin}" class="navbar-brand" href="/admin/home">iFreeDays - Vacations Admin</a>
				<a th:unless="${isAdmin}" class="navbar-brand" href="/user/home">iFreeDays - Vacations Manager</a>
    			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
		        	<span class="navbar-toggler-icon"></span>
    			</button>
    			
    			<div class="collapse navbar-collapse" id="basicExampleNav">
		        	<ul class="navbar-nav mr-auto">
			            <li class="nav-item" th:if="${isAdmin}"><a class="nav-link" href="/admin/home">Home</a></li>
						<li class="nav-item" th:unless="${isAdmin}"><a class="nav-link" href="/user/home">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/skills">List of skills</a></li>
						<li class="nav-item" th:if="${isAdmin}"><a class="nav-link" href="/admin/employees">List of employees</a></li>
						<li class="nav-item"><a class="nav-link" href="/calendars/skills">Skills calendar view</a></li>
						<li class="nav-item" th:if="${isAdmin}"><a class="nav-link" href="/calendars/employees">Employees calendar view</a></li>
						<li class="nav-item"><a class="nav-link" href="/user/requestVacation">Request vacation</a></li>
	        		</ul>
        			<ul class="navbar-nav ml-auto">
	        			<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
	        		</ul>
    			</div>
			</nav>
			<div class="panel-group" style="margin-top: 40px">
			
			
				<table class="table table-bordered" id="myTable">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="skill : ${skills}" class="clickable-row">
							<td data-th-text="${skill.id}" />
							<td data-th-text="${skill.name}" />
						</tr>
					</tbody>
				</table>
			</div>
			<div class="footer">
				<form th:action="@{skills/users/}" method="get" id="form-skill-users">
					<button class="btn btn-md btn-danger btn-block" type="Submit"
						disabled="disabled" id="buttonUsers">Users</button>
				</form>
			</div>
		</div>
	</div>
	
    	<script type="text/javascript" src="js/popper.min.js"></script>
    	<script type="text/javascript" src="js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="js/mdb.min.js"></script>

</body>
<script type="text/javascript">
	$('#myTable').on(
			'click',
			'.clickable-row',
			function(event) {
				$(this).addClass('active').siblings().removeClass('active');
				$('#form-skill-users').attr('action',
						'skills/users/' + $($('#myTable .active')[0]).find("td:first").text());
				$('#buttonUsers').removeAttr('disabled');
			});
</script>
</html>