<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Users for Skill</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <style>
    table.table a {
	    padding: .2rem 0.8rem;
}
    </style>
</head>

<body>
	<div class="container">
		<div class="panel-group" style="margin-top: 10rem">

			<nav class="navbar navbar-dark primary-color fixed-top navbar-expand-md">
    			<a th:if="${isAdmin}" class="navbar-brand" href="/admin/home">iFreeDays - Vacations Admin</a>
				<a th:unless="${isAdmin}" class="navbar-brand" href="/user/home">iFreeDays - Vacations Manager</a>
    			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
		        	<span class="navbar-toggler-icon"></span>
    			</button>
    			
    			<div class="collapse navbar-collapse" id="basicExampleNav">
		        	<ul class="navbar-nav">
			            <li class="nav-item" th:if="${isAdmin}"><a class="nav-link" href="/admin/home">Home</a></li>
						<li class="nav-item" th:unless="${isAdmin}"><a class="nav-link" href="/user/home">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/skills">List of skills</a></li>
						<li class="nav-item" th:if="${isAdmin}"><a class="nav-link" href="/admin/employees">List of employees</a></li>
						<li class="nav-item"><a class="nav-link" href="/calendars/skills">Skills calendar view</a></li>
						<li class="nav-item"><a class="nav-link" href="/user/requestVacation">Request vacation</a></li>
						<li class="nav-item"><a class="nav-link" href="/user/myVacations">My vacations</a></li>
	        		</ul>
	        		<div class="mt-auto" style="margin-left: 1rem"><label class="navbar-link" for="bigfontsize"><input type="checkbox" class="filled-in" id="bigfontsize">Use big font size</label></div>
        			<ul class="navbar-nav ml-auto">
	        			<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
	        		</ul>
    			</div>
			</nav>
			<div class="card card-body z-depth-3">	
					<div class="panel panel-primary" style="margin-top: 1rem">
			
				<h2>
					Users with skill <b th:utext="${skill.name}"></b>
				</h2>
				<table class="table table-bordered" id="myTable">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="user : ${users}" class="clickable-row">
							<td data-th-text="${user.id}" />
							<td data-th-text="${user.name}" />
							<td><a class="btn btn-danger btn-xs" role="button" th:href="'/admin/employees/delete/skill/?skillId=' + ${skill.getId()} + '&userId=' + ${user.getId()}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
<!-- 			<div class="footer"> -->
<!-- 				<form th:action="@{users/}" method="get" id="form-skill-users"> -->
<!-- 					<button class="btn btn-md btn-danger btn-block" type="Submit" -->
<!-- 						disabled="disabled" id="buttonUsers">Users</button> -->
<!-- 				</form> -->
<!-- 			</div> -->
		</div>
	</div>
	</div>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    	<script type="text/javascript" src="/js/popper.min.js"></script>
    	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="/js/mdb.min.js"></script>
</body>
<script type="text/javascript">
	$('#myTable').on(
			'click',
			'.clickable-row',
			function(event) {
				$(this).addClass('active').siblings().removeClass('active');
				$('#form-skill-users').attr(
						'action',
						'users/'
								+ $($('#myTable .active')[0]).find("td:first")
										.text());
				$('#buttonUsers').removeAttr('disabled');
			});
</script>
<script type="text/javascript" src="/js/fontsize.js"></script>
</html>