<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Request Vacations</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="panel-group" style="margin-top: 5rem">
			<nav class="navbar navbar-dark primary-color fixed-top navbar-expand-md">
    			<a th:if="${isAdmin}" class="navbar-brand" href="/admin/home">iFreeDays - Vacations Admin</a>
				<a th:unless="${isAdmin}" class="navbar-brand" href="/user/home">iFreeDays - Vacations Manager</a>
    			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
		        	<span class="navbar-toggler-icon"></span>
    			</button>
    			
    			<div class="collapse navbar-collapse" id="basicExampleNav">
		        	<ul class="navbar-nav">
			            <li class="nav-item" th:if="${isAdmin}"><a class="nav-link" href="/admin/home">Home</a></li>
						<li class="nav-item" th:unless="${isAdmin}"><a class="nav-link" href="/user/home">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/skills">List of skills</a></li>
						<li class="nav-item" th:if="${isAdmin}"><a class="nav-link" href="/admin/employees">List of employees</a></li>
						<li class="nav-item"><a class="nav-link" href="/calendars/skills">Skills calendar view</a></li>
						<li class="nav-item"><a class="nav-link" href="/user/requestVacation">Request vacation</a></li>
						<li class="nav-item"><a class="nav-link" href="/user/myVacations">My vacations</a></li>
	        		</ul>
	        		<div class="mt-auto" style="margin-left: 1rem"><label class="navbar-link" for="bigfontsize"><input type="checkbox" class="filled-in" id="bigfontsize">Use big font size</label></div>
        			<ul class="navbar-nav ml-auto">
	        			<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
	        		</ul>
    			</div>
			</nav>
	</div>
	</div>
	
	<div class="panel panel-primary"  style="margin-top: 10rem">
	<div style="text-align:center">
				<div class="text-center">
					<div class="btn-group">
						<button class="btn btn-primary" data-calendar-nav="prev" onclick="redirect('prev');">&lt;&lt; Prev</button>
						<span class="btn btn-outline-primary waves-effect" data-th-text="${dateString}"></span>
						<button class="btn btn-primary" data-calendar-nav="next" onclick="redirect('next');">Next &gt;&gt;</button>
					</div>
				</div>
	</div>
				<br/>
				<div class="panel-heading">		
				
				<table class="table table-bordered" id="calendar">

					<tbody class="table-bordered">
						
						<th:block th:each="month: ${monthList}">
						<tr >
							<td data-th-text="${month.getMonthForInt(month.getMonth())}" class="btn btn-block bg-primary"></td>
							<th:block data-th-each="day : ${month.getDays()}" th:switch="${day.getIsVacation()}">
								<td th:case="false" class="bg-info waves-effect text-center"  data-th-text="${day.getDay()}" />
								<td th:case="true" class="bg-success waves-effect text-center"  data-th-text="${day.getDay()}" />
							</th:block>
						</tr>
						</th:block>
						
					</tbody>
					
				</table>
			</div>
		</div>
		<form>
		<input type="hidden" th:value="${next}" id="next">
		<input type="hidden" th:value="${prev}" id="prev">
	</form>
	
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    	<script type="text/javascript" src="/js/popper.min.js"></script>
    	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="/js/mdb.min.js"></script>
    	<script type="text/javascript">
    	function redirect(where) {
	var yearMonth = '';
	if (where == 'prev') 
		yearMonth = $('#prev').val();
	else
		yearMonth = $('#next').val();
	window.location ='/user/myVacations' + yearMonth;
}
</script>
<script type="text/javascript" src="/js/fontsize.js"></script>
</body>
</html>