<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Request Vacations</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mdb.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="panel-group" style="margin-top: 10rem">
			<nav class="navbar navbar-dark primary-color fixed-top navbar-expand-md">
    			<a th:if="${isAdmin}" class="navbar-brand" href="/admin/home">iFreeDays - Vacations Admin</a>
				<a th:unless="${isAdmin}" class="navbar-brand" href="/user/home">iFreeDays - Vacations Manager</a>
    			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
		        	<span class="navbar-toggler-icon"></span>
    			</button>
    			
    			<div class="collapse navbar-collapse" id="basicExampleNav">
		        	<ul class="navbar-nav">
			            <li class="nav-item" th:if="${isAdmin}"><a class="nav-link" href="/admin/home">Home</a></li>
						<li class="nav-item" th:unless="${isAdmin}"><a class="nav-link" href="/user/home">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/skills">List of skills</a></li>
						<li class="nav-item" th:if="${isAdmin}"><a class="nav-link" href="/admin/employees">List of employees</a></li>
						<li class="nav-item"><a class="nav-link" href="/calendars/skills">Skills calendar view</a></li>
						<li class="nav-item"><a class="nav-link" href="/user/requestVacation">Request vacation</a></li>
						<li class="nav-item"><a class="nav-link" href="/user/myVacations">My vacations</a></li>
	        		</ul>
	        		<div class="mt-auto" style="margin-left: 1rem"><label class="navbar-link" for="bigfontsize"><input type="checkbox" class="filled-in" id="bigfontsize">Use big font size</label></div>
        			<ul class="navbar-nav ml-auto">
	        			<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
	        		</ul>
    			</div>
			</nav>


			<div class="card card-body z-depth-3 mt-4">	
					<div class="panel panel-primary md-form  text-center" style="margin-top: 1rem">
				<div class="panel-heading" style="text-align:center">
					<span th:utext="${userName}"></span>
				</div>
				<br/>
				<div class="md-form" style="text-align:center">

					<form method="POST" action="/user/requestVacation" onsubmit="return validateForm()">
					<p>Input the start date:</p>
					<i class="fa fa-calendar mr-2" aria-hidden="true"></i><input id="startDate" type="date" name="startDate"></input>
					<br/>
					<br/>
					<p style="margin-top:20px">Input the end date:</p>
					<i class="fa fa-calendar mr-2" aria-hidden="true"></i><input id="endDate" type="date" name="endDate"></input><br><br><br>
							<button class="btn btn-outline-info  z-depth-2 waves-effect" type="submit">
								Send<i class="fa fa-paper-plane-o ml-2"></i>
							</button>

							<button class="btn btn-outline-info  z-depth-2 waves-effect" type="reset">
								Reset<i aria-hidden="true" class="fa fa-refresh  ml-2"></i> 
							</button>

					</form>
					<blockquote id="msg" style="display:none" class="blockquote bq-danger">
    	<p class="bq-title">Failure notification</p>
    	<p>Invalid dates!</p>
	</blockquote> 
					
				</div>
				<div>
				<p id="operatC" th:text="${message}"></p>
				</div>
			</div>
		</div>
</div>
	</div>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    	<script type="text/javascript" src="/js/popper.min.js"></script>
    	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="/js/mdb.min.js"></script>
    	<script>
    	function validateForm(){

    		var hoy = Date.now();

    		
    		 var d = new Date(document.getElementById("startDate").value);
    		 var d1 = new Date(document.getElementById("endDate").value);

    		 if(hoy>d.getTime() || hoy>d1.getTime() || d1.getTime()<d.getTime() || d == "Invalid Date" || d1 == "Invalid Date"){

    			 document.getElementById("msg").style = "display:block";
    			 
    			 return false;

    		 }
    		
    			 
    		return true;
    		 
    		
    	}
    	
    	</script>
    	<script type="text/javascript" src="/js/fontsize.js"></script>
    	
</body>
</html>