<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Calendar Skills Page</title>
<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" /> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<!-- Esto de abajo, al estar comentado no dejaba funcionar los botones para navegar entre meses -->
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <style id="x_css"></style>
</head>

<body>
	<div class="x container">
		<div class="x panel-group" style="margin-top: 40px">
<!-- 			<nav class="x navbar navbar-default"> -->


		<nav class="x navbar navbar-dark primary-color fixed-top navbar-expand-md">
    			<a th:if="${isAdmin}" class="x navbar-brand" href="/admin/home">iFreeDays - Vacations Admin</a>
				<a th:unless="${isAdmin}" class="x navbar-brand" href="/user/home">iFreeDays - Vacations Manager</a>
    			<button class="x navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
		        	<span class="x navbar-toggler-icon"></span>
    			</button>
    			
    			<div class="x collapse navbar-collapse" id="basicExampleNav">
		        	<ul class="x navbar-nav">
			            <li class="x nav-item" th:if="${isAdmin}"><a class="x nav-link" href="/admin/home">Home</a></li>
						<li class="x nav-item" th:unless="${isAdmin}"><a class="x nav-link" href="/user/home">Home</a></li>
						<li class="x nav-item"><a class="x nav-link" href="/skills">List of skills</a></li>
						<li class="x nav-item" th:if="${isAdmin}"><a class="x nav-link" href="/admin/employees">List of employees</a></li>
						<li class="x nav-item active"><a class="x nav-link" href="/calendars/skills">Skills calendar view</a></li>
						<li class="x nav-item"><a class="x nav-link" href="/user/requestVacation">Request vacation</a></li>
						<li class="x nav-item"><a class="x nav-link" href="/user/myVacations">My vacations</a></li>
	        		</ul>
	        		<div class="x mt-auto" style="margin-left: 1rem"><label class="x navbar-link" for="bigfontsize"><input type="checkbox" class="x filled-in" id="bigfontsize">Use big font size</label></div>
        			<ul class="x navbar-nav ml-auto">
	        			<li class="x nav-item"><a class="x nav-link" href="/logout">Logout</a></li>
	        		</ul>
    			</div>
			</nav>
		</div>

	</div>

	<div class="x card card-body z-depth-3" style="margin-top: 7rem;">	
					<div class="x panel panel-primary" style="margin-top: 1rem; text-align:center">

			
			<div style="text-align:center">
				<div class="x text-center">
					<div class="x btn-group">
						<button class="x btn btn-primary" data-calendar-nav="prev" onclick="redirect('prev');">&lt;&lt; Prev</button>
						<span class="x btn btn-outline-primary waves-effect" data-th-text="${dateString}"></span>
						<button class="x btn btn-primary" data-calendar-nav="next" onclick="redirect('next');">Next &gt;&gt;</button>
					</div>
				</div>
				<br/>
				<table class="x table table-bordered" id="calendar">
					<thead>
						<tr>
							<th>Skill</th>
							<th:block data-th-each="day : ${daysOfMonth}" th:switch="${#dates.dayOfWeek(#dates.create(year, month, day))}" th:with="dayName=${#dates.dayOfWeekName(#dates.create(year, month, day))}">
								<th th:case="5" data-th-text="${day}" class="x bg-success "/>
								<th th:case="6" data-th-text="${day}" class="x bg-success"/>
								<th th:case="*" data-th-text="${day}" class="x bg-primary"/>
							</th:block>
						</tr>
					</thead>
					<tbody class="x table-bordered">
						<tr data-th-each="cal : ${calendars}">
							<td data-th-text="${cal.skillName}" class="x btn btn-block bg-primary"></td>
							<th:block data-th-each="month : ${cal.month}" th:switch="${month.state}">
								<td th:case="0" class="x bg-success waves-effect"  data-th-text="${month.getN()}" />
								<td th:case="1" class="x bg-info waves-effect"  data-th-text="${month.getN()}" />
								<td th:case="2" class="x bg-danger waves-effect"  data-th-text="${month.getN()}" />
								<td th:case="3" class="x bg-warning waves-effect" data-th-text="${month.getN()}" />
								<td th:case="-1" class="x bg-danger waves-effect"  data-th-text="${month.getN()}" />
							</th:block>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</div>
	<form>
		<input type="hidden" th:value="${next}" id="next">
		<input type="hidden" th:value="${prev}" id="prev">
	</form>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    	<script type="text/javascript" src="/js/popper.min.js"></script>
    	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="/js/mdb.min.js"></script>
</body>
<script type="text/javascript">
function redirect(where) {
	var yearMonth = '';
	if (where == 'prev') 
		yearMonth = $('#prev').val();
	else
		yearMonth = $('#next').val();
	window.location ='/calendars/skills/' + yearMonth;
}
</script>
<script type="text/javascript" src="/js/fontsize.js"></script>
</html>