<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Employees Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="panel-group" style="margin-top: 40px">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="">iFreeDays - Vacations Admin</a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="/admin/home">Home</a></li>
						<li><a href="/skills">List of skills</a></li>
						<li class="active"><a href="/admin/employees">List of employees</a></li>
						<li><a href="/calendars/skills">Skills calendar view</a></li>
						<li><a href="/calendars/employees">Employees calendar view</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>
			</nav>
			<div class="panel-group" style="margin-top: 40px">
				<table class="table table-bordered" id="myTable">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Last name</th>
							<th>Email</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="user : ${employees}" >
							<td data-th-text="${user.id}" />
							<td data-th-text="${user.name}" />
							<td data-th-text="${user.lastName}" />
							<td data-th-text="${user.email}" />
							<td class="">
								<a class="btn btn-success btn-xs" th:href="@{'employees/details/' + ${user.id}}" role="button"><span class="glyphicon glyphicon-zoom-in"></span></a>
								<a class="btn btn-info btn-xs" th:href="@{'employees/skills/' + ${user.id}}" role="button"><span class="glyphicon glyphicon-list-alt"></span></a>
								<a class="btn btn-primary btn-xs" th:href="@{'employees/edit/' + ${user.id}}" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
								<a class="btn btn-danger btn-xs" th:href="@{'employees/delete/' + ${user.id}}" role="button"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>